//= require_tree .
//= require_self

@import "bootstrap";

.custom_margin_100 {
	margin-top: 100px;
}

.custom_margin_25 {
	margin-top: 25px;
}

.result_picture{
	margin-top: 50px;  
  height: max-content;
  margin-left: 10px;
}